.section-clients {
  background-color: #fff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
}

.clients-list__item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.clients-list__link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients-list__icon {
  align-items: center;
  fill: #afb1b8;

  transition: fill 250ms var(--timing-function);

  .clients-list__link:hover &,
  .clients-list__link:focus & {
    fill: var(--accent-color);
  }
}
