.section-feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin: 0;
  }
}

.feature-list__item {
  height: 251px;

  @media screen and (min-width: 480px) {
    width: 450px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    margin: 15px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 0;
    margin-left: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.feature-list__subtitle {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list__text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.feature-list__icons {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  // margin-right: 30px;

  background: #f5f4fa;
  border-radius: 4px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

// .section-feature {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

// .feature-list {
//   display: flex;
// }

// .feature-list__item {
//   width: 270px;
//   height: 251px;
//   margin-right: 30px;

//   &:last-child {
//     margin-right: 0;
//   }
// }

// .feature-list__subtitle {
//   color: var(--title-text-color);
//   margin-top: 0;
//   margin-bottom: 10px;

//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   text-transform: uppercase;
// }

// .feature-list__text {
//   margin-top: 0;
//   margin-bottom: 0;

//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.7;
// }

// .feature-list__icons {
//   display: flex;
//   width: 270px;
//   height: 120px;
//   align-items: center;
//   justify-content: center;
//   margin-bottom: 30px;
//   margin-right: 30px;

//   background: #f5f4fa;
//   border-radius: 4px;

//   &:last-child {
//     margin-right: 0;
//   }
// }
