.page-header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 93px;
  }
}

.site-nav-list__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.site-nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  @include font(500, 14px, 1.14);
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav-list__link.current {
  color: var(--accent-color);

  position: relative;

  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
}

.auth-nav-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.auth-nav-list__item + {
  .auth-nav-list__item {
    @media screen and (min-width: 768px) {
      margin-top: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 0;
      margin-left: 50px;
    }
  }
}

.auth-nav-list__link {
  display: flex;
  align-items: center;

  color: var(--primary-text-color);

  @include font(500, 12px, 1.17);
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    @include font(500, 14px, 1.14);
  }
}

.auth-nav-list__mail {
  margin-right: 10px;
  fill: currentColor;

  &:hover {
    fill: currentColor;
  }
}

.auth-nav-list__tel {
  margin-right: 10px;
  fill: currentColor;

  &:hover {
    fill: currentColor;
  }
}

.menu-open,
.menu-close {
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 12px;
  cursor: pointer;
  background-color: transparent;
}

.menu-open__icon {
  display: block;
  position: relative;
  .menu-open:hover & {
    fill: var(--accent-color);
  }
}

.menu-open {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-close {
  position: absolute;
  right: 15px;
  top: -37px;
}

.menu-close__icon {
  display: block;
  position: relative;
  .menu-close:hover & {
    fill: var(--accent-color);
  }
}

.mob-menu {
  position: fixed;
  background-color: #fff;
  width: 100vw;
  top: 0;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-contacts-list {
  margin-bottom: 64px;
}

.mob-contacts-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-contacts-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-contacts-tel-link {
  font-size: 34px;
  line-height: 1.25;
}

.mob-social-list {
  display: flex;
}

.mob-social-item {
  &:not(:last-child) {
    margin-right: 10px;
    .mob-social-link {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
  }
}

.mob-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}

.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
