.section-work {
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work-list {
  display: flex;
}

.work-list__item {
  display: inline-flex;
  position: relative;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.work-list__subtitle {
  position: absolute;
  bottom: 0;

  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
}

// .section-work {
//   padding-bottom: 94px;
// }

// .work-list {
//   display: flex;
// }

// .work-list__item {
//   display: inline-flex;
//   position: relative;
//   margin-right: 30px;

//   &:last-child {
//     margin-right: 0;
//   }
// }

// .work-list__subtitle {
//   position: absolute;
//   bottom: 0;

//   display: flex;
//   margin: 0 auto;
//   justify-content: center;
//   align-items: center;
//   width: 370px;
//   height: 70px;

//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   background: rgba(47, 48, 58, 0.8);
//   color: #fff;
// }
