.footer-nav {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.address__text {
  color: getColor('white-color');
}

.address__link {
  display: inline-block;
  margin-top: 9px;
  color: getColor('auth-nav-text-color');

  @extend %link;
}
