.auth-nav-list {
  display: flex;
  margin-left: auto;

  @extend %list;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (max-width: $desktop) {
    flex-direction: column;
  }
}

.auth-nav-list__item:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 50px;
  }
}

.auth-nav-list__link {
  @include centeredFlex(inline-flex);

  color: getColor('main-color');
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color $transition-duration $timing-function;

  @extend %link;

  &:hover,
  &:focus {
    color: getColor('accent-color');
  }

  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.auth-nav-list__icon {
  margin-right: 10px;
  fill: currentColor;
}
