.hero-section__button {
  padding: 10px 32px;
  min-width: 200px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;

  align-items: center;
  text-align: center;
  border-radius: 4px;

  color: #fff;
  background-color: var(--accent-color);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
