.contact-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.form {
  display: block;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.form-title {
  margin-top: 0;
  margin-bottom: 20px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

// .contact {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   text-align: center;

//   @media screen and (min-width: 1200px) {
//     display: flex;
//   }
// }

.contact-input {
  padding: 15px 16px;
  width: 100%;
  height: 50px;

  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;

  transition: drop-shadow 250ms var(--timing-function);

  &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }

  &::placeholder {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.contact-btn {
  display: flex;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin: 0 auto;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  outline: none;

  color: #ffffff;
  background-color: var(--accent-color);
  border: currentColor;
  border-radius: 4px;

  transition: box-shadow 250ms var(--timing-function);

  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.contact-icon {
  margin-left: 10px;
}
