.filter-list {
  margin-bottom: 25px;

  @extend %list;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $tablet) {
    @include centeredFlex();
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.filter-list__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__button {
  transition: background-color $transition-duration $timing-function,
    color $transition-duration $timing-function, box-shadow $transition-duration $timing-function;

  @extend %button;

  &:hover,
  &:focus {
    background-color: getColor('accent-color');
    color: getColor('white-color');

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
