.footer-social {
  margin-bottom: 60px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.footer-social__title {
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social-list {
  display: flex;
  text-align: center;
  justify-content: center;
}

.social-list__link {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;

  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
