.hero {
  $padding: 118px;
  padding-top: $padding;
  padding-bottom: $padding;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('/images/hero-480.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2f303a;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/images/hero-480@2x.jpg');
  }

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/images/hero-768.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('/images/hero-768@2x.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    $padding: 200px;
    padding-top: $padding;
    padding-bottom: $padding;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/images/hero-1600.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('/images/hero-1600@2x.jpg');
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  color: getColor('white-color');

  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  padding: 10px 32px;
  background-color: getColor('accent-color');
  color: getColor('white-color');

  line-height: 1.86;
  letter-spacing: 0.06em;

  transition: box-shadow $transition-duration $timing-function;

  @extend %button;

  &:hover,
  &:focus {
    box-shadow: 1px 1px 1px 1px hsla(0, 0%, 46%, 0.3);
  }

  &:active {
    box-shadow: inset 3px 3px 3px 3px hsla(207, 83%, 19%, 0.3);
  }
}
