.join {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-left: 165px;
  }

  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 70px;
  }
}

.join__title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: getColor('white-color');
}
