.page-header__logo {
  color: #000;
  font-family: 'Raleway';

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.page-header__logo-accent {
  color: var(--accent-color);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: #fff;
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
