.section-title {
  color: var(--title-text-color);
  margin-top: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
