.site-nav {
  @include centeredFlex();
}

.site-nav-list {
  display: flex;
  margin-left: 93px;

  @extend %list;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.site-nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: getColor('secondary-color');

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color $transition-duration $timing-function;

  @extend %link;

  &:hover,
  &:focus {
    color: getColor('accent-color');
  }

  &--current {
    position: relative;
    color: getColor('accent-color');
  }
}

.site-nav-list__link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;
  background-color: getColor('accent-color');
  border-radius: 2px;

  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform $transition-duration $timing-function,
    opacity $transition-duration $timing-function;
}

.site-nav-list__link:hover::after,
.site-nav-list__link:focus::after {
  opacity: 1;
  transform: scaleX(1);
}

.site-nav-list__link--current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;
  background-color: getColor('accent-color');
  border-radius: 2px;

  opacity: 1;
  transform: scaleX(100%);
}
