.team-list {
  font-size: 16px;
  line-height: 1.19;

  @extend %list;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.team-list__item {
  background-color: getColor('white-color');
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }
}

.team-list__thumb {
  @include centeredFlex();
}

.team-list__content {
  padding: 30px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-list__subtitle {
  margin-bottom: 10px;
  color: getColor('secondary-color');
  font-weight: 500;
}

.team-list__text {
  margin-bottom: 16px;
}
