.work-section {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work-list {
  display: flex;

  @extend %list;
}

.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.work-list__thumb {
  position: relative;
}

.work-list__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 27px 0;
  width: 100%;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  color: getColor('white-color');
  background-color: rgba(47, 48, 58, 0.8);
}
